/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #191919;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container Styling */
.container {
    background-color: #191818;
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Header */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2cd182;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    color: #d1ac97;
}

/* Form Styling */
.budget-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.budget-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffab3b;
}

.budget-form input,
.budget-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1ac97;
    border-radius: 5px;
    background-color: #191818;
    color: #ffffff;
    font-size: 14px;
}

.budget-form input:focus,
.budget-form select:focus {
    border-color: #2cd182;
    outline: none;
}

/* Button Styling */
.btn-primary {
    width: 160px;
    background-color: #2cd18147;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}

.btn-primary:hover {
    color: black;
    background-color: #2cd182;
}

/* Button Group Styling */
.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group .btn-secondary {
    background-color: #ffaa3b58;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    width: 48%;
}

.button-group .btn-secondary:hover {
    color: black;
    background-color: #ffab3b;
}

.wallet-info {
    margin: 15px 0;
    font-size: 16px;
    color: #ffab3b;
    text-align: center;
}

.wallet-info strong {
    color: #2cd182;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-secondary {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.btn-secondary:hover {
    opacity: 1;
}
